
  <div class="category">
    <div class="container">
      <div class="head">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">الرئيسية</a></li>
          <li class="breadcrumb-item"><a href="videos.html">المرئيات</a></li>
          <li class="breadcrumb-item active">اختبار طلبة موقع إجازة أونلاين</li>
        </ul>
        <h1>اختبار طلبة موقع إجازة أونلاين</h1>
      </div>
      <div class="category-items">
        <div class="row">
          <div class="col-12">
            <div class="cat-item">
              <div class="iframe-item video">
                <iframe src="https://www.youtube.com/embed/fu5Q6MCCDOs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
              </div>
              <div class="line"></div>
              <div class="fav">
                <span>0</span>
                <i class="fal fa-heart"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
