@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Page Content
2. Responsiv Page

******************************/
:root{
  --main-color: #020826;
  --seconde-color: #8F7329;
  --about-header-color: #2A2D3C;
  --bg-color: #E4E2ED;
}

.header{
  position: relative;
}

.header::before{
  content: "";
  position: absolute;
  bottom: -81px;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: url(../images/section/13_bg.JPG);
  transform: rotate(180deg);
  z-index: -1;
}

/*********************************
1. Page Content
*********************************/

.category{
  padding: 60px 0 0;
  min-height: calc(100vh - 200px);
}

.category .head{
  margin-bottom: 70px;
}

.category .head .breadcrumb{
  background-color: transparent;
  padding: 0;
}

.category .head .breadcrumb li{
  font-size: 18px;
}

.category .head .breadcrumb li a{
  color: #000;
}

.category .head h1{
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 1px;
  margin: 10px 0 20px;
  line-height: 1.4;
  position: relative;
  display: inline-block;
}

.category .head h1::before{
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 100px;
  height: 4px;
  background-color: var(--seconde-color);
}

.category .head h1::after{
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 60px;
  height: 4px;
  background-color: var(--seconde-color);
}

.category-items .item{
  width: 100%;
  height: 100%;      
  border-radius: 5px;
  box-shadow: 6px 6px 20px #5844441c;
  position: relative;
  transition: .3s ease;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-items .item:hover .item-icon{
  transform: translateY(-7px);
}

.category-items .item::after{
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 25px;
  background-image: url(../images/section/3_line.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category-items .item::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 25px;
  background-image: url(../images/section/3_line.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category-items .item .item-inner{
  margin: 0 20px;
  padding: 50px 0px;
  display: block;
  text-align: center;
}

.category-items .item .item-inner .item-icon{
  width: 160px;
  margin: auto;
  transition: .3s ease;
  margin-bottom: 25px;
}

.category-items .item .item-inner .item-icon img{
  width: 100%;
  height: auto;
}

.category-items .item .item-inner h2{
  font-size: 28px;
  font-family: arefRuqaa;
  color: #000;
}

.category-items .cat-item{
  position: relative;
  width: 100%;
}

/* .category-items .cat-item::before{
  content: "";
  position: absolute;
  left: 0;
  top: -30px;
  width: 100%;
  height: 60px;
  background-color: var(--main-color);
  z-index: -1;
} */

.iframe-item{
  padding: 0;
  margin: 0;
  line-height: 1;
  padding-bottom: 120px;
  
}

.iframe-item.sound iframe{
  height: 200px;
  width: 100%;
}

.iframe-item.video{
  text-align: center;
}

.iframe-item.video iframe{
  width: 100%;
  height: 70vh;
}

.cat-item .line{
  margin: 30px 0 0;
}

.cat-item .fav{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  top: -50px;
  left: 0;
}

.cat-item .fav span{
  margin-left: 5px;
  margin-bottom: 4px;
  vertical-align: middle;
}

.cat-item .fav i.fas{
  color: #CC0000;
}

/* Responsive */

@media (max-width:767.98px){
  .category .head .breadcrumb li{
    font-size: 16px;
  }

  .category .head h1{
    font-size: 25px;
  }

  .category .head h1::before{
    width: 75px;
  }

  .category .head h1::after{
    width: 40px;
  }

  .cat-item .fav {
    font-size: 18px;
    top: -40px;
  } 

  .iframe-item.video iframe{
    width: 100%;
    height: 40vh;
  }
}